* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: x-large;
}

.titulo {
font-size: 100px;
}
.voltar {
    position: absolute;
    top: 10px;
    left: 20px;
}

.container-slider {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 1rem;
}

.container-images {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 700px;

}

.slider {
    opacity: 0;
    transition: opacity .2s;
    position: absolute;
    width: 100%;
    border-radius: 10px;
}

.on {
    opacity: 1;
}

#prev-button, #next-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#prev-button img, #next-button img {
    height: 100%;
    width: 100%;
} 
#prev-button{
    transform: rotate(180deg);
}