* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Comic Sans MS';
}

body {
    text-align: center;
    object-position: center;
    justify-content: center;
}

input {
    margin: 10px;
    background-color: white;
    color: black;

}